/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
  margin: 0 auto;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
  max-width: 1020px;
  padding: 20px;
  background-color: #f2f2f2;
}
:root {
  --primary-color: #64c1e6;
  --secondary-color: #0a2f5c;
  --accent1-color: #daf9ff;
  --accent2-color: #f2ead9;
  --heading-font: 'oswald', serif;
  --paragraph-font: 'oswald', serif;
  --nav-background-color: #e7ddcc;
  --nav-link-color: #52bbe7;
  --navv-link-color: #5dd2f3;
  --nav-hover-link-color: #f2ead9;
  --nav-hover-background-color: #fffff2;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--accent1-color);
}
.header-title {
  font-size: 1.5em;
  margin-left: 20px;
}
.brand{
  display: flex;
  justify-content: space-between;
}
header img {
  max-height: 50px;
}
nav {
  justify-content: space-between;
  display: flex;
  gap: 1px;
}
nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 10px;
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
main {
  background-color: white;
}
.hero {
  position: relative;
  text-align: center;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  padding: 10px;
}
.hero article {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  position: absolute;
  align-items: center;
  background-color: #daf9ff;
  opacity: 0.7;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-sizing: border-box;
}
.hero article img {
  margin-left: 20px;
  max-width: 150px;
  height: auto;
}
.history {
  margin: 20px 0;
}
.history img {
  width: 100%;
  height: auto;
}
.history h2 {
  text-align: center;
}
.history p {
  padding: 0 3%;
}
.adventure div{
  display: flex;
  justify-content: space-around; /* This will space your images evenly */
  flex-wrap: wrap; /* This allows the images to wrap to the next line if the container width is not enough */
}
.adventure h2{
  text-align: center;
}
.adventure img {
  width: 150px; /* Adjust this value to change the size of your images */
  height: auto;
  margin: 10px; /* This adds some space around your images */
}
/* -------------------footer--------------------- */
footer {
  text-align: center;
  padding: 5px;
  background-color: var(--accent2-color);
}
footer a {
  margin: 0 10px;
}
footer a img{
  max-height: 60px;
}
