@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #64c1e6;
    --secondary-color: #0a2f5c;
    --accent1-color: #daf9ff;
    --accent2-color: #f2ead9;
  
    --heading-font: 'oswald', serif;
    --paragraph-font: 'roboto', serif;
  
    --nav-background-color: #e7ddcc;
    --nav-link-color: #52bbe7;
    --navv-link-color: #5dd2f3;
    --nav-hover-link-color: #f2ead9;
    --nav-hover-background-color: #fffff2;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }
  p {
    padding: 25px;
  }
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  nav a:link, nav a:visited {
    color: var(--navv-link-color);
  }
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
  